modules = ["nodejs-20", "web"]
run = "localhost:8080"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve -s onceuponawishtravel.web.appx -l 5000"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39283684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve onceuponawishtravel.web.appx/home.html -l 5000 --single"

[[ports]]
localPort = 5000
externalPort = 80
