modules = ["nodejs-20", "web"]
run = "localhost:8080"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve -s onceuponawishtravel.web.appx -l 5000"]

[workflows]

[[workflows.workflow]]
name = "Run"
author = 39283684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve onceuponawishtravel.web.appx -s -p 5000 --listen 0.0.0.0"
